button {
  border: none;
  background: none;
  margin: var(--dimension-xxs);
  height: var(--dimension-xl);
  padding: 0 var(--dimension-md);
  font: var(--font-md) "poppins";
  user-select: none;
  max-width: 350px;
}
button.large {
  margin: var(--dimension-md);
  height: var(--dimension-xxl);
  padding: 0 var(--dimension-md);
  font: var(--font-xxxl) "poppins";
}
button.small {
  font: var(--font-xs) "poppins";
}
button.primary {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color-fill);
}
button.primary[disabled] {
  background: var(--primary-color-ss);
  border: 1px solid var(--primary-color-ss);
}
button.secondary {
  background: var(--primary-color-fill);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
button.tertiary {
  background: rgba(0, 0, 0, 0);
  border: none;
  color: var(--primary-color);
  text-decoration: underline;
}
