.user-card * {
  padding: 5px;
  border-radius: 5px;
}
.user-card {
  height: fit-content;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: var(--dimension-xl);
  padding: var(--dimension-sm);
  border-radius: 5px;
  border: 1px solid var(--monochrome-color-sw);
  box-shadow: var(--shadow-raised);
  padding: var(--dimension-md);
}
.user-card > *,
.header > * {
  margin: var(--dimension-xxs);
  padding: 0px;
}

.header {
  display: flex;
}
.header .user-avatar {
  width: 80px;
  height: auto;
  border-radius: 10px;
}
.header .basic-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.header .basic-info > * {
  padding: 3px;
}
.header .basic-info .full-name {
  font: var(--font-lg) "Space Grotesk";
}
.header .basic-info .user-name {
  font: monospace;
  color: var(--monochrome-color-ss);
  font-size: 0.8rem;
  width: fit-content;
}
.header .basic-info .user-tier {
  color: var(--monochrome-color-tw);
  font: var(--font-xs) "sans";
  padding-top: 10px;
}

.problem-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin: var(--dimension-xs);
}

.problem-stats .solved {
  font: var(--font-xl) "Space Grotesk";
}

.problem-stats .total {
  font: var(--font-lg) "Space Grotesk";
  color: var(--monochrome-color-tw);
}
.problem-stats .solved,
.problem-stats .total {
  padding: 0px;
  margin: 0px;
}
.problem-stats .solved::after {
  display: block;
  width: 100%;
  background: var(--monochrome-color);
  height: 1px !important;
  content: "";
}

.problem-stats .label {
  font: var(--font-xxs) "Poppins";
  color: var(--monochrome-color-tw);
  align-self: flex-start;
  padding: 0;
  padding-top: var(--dimension-xs);
}

.problem-stats .plate {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.problem-stats .plate > * {
  padding: var(--dimension-xxs) 0;
}
.problem-stat-wrap {
  display: flex;
  margin: var(--dimension-xs);
  background-color: rgba(220, 220, 220, 0.1);
  padding: var(--dimension-xs) 0;
}
.problem-stat-wrap > * {
  padding-bottom: 0;
}
.problem-stat-visualize {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.problem-stat-visualize .label {
  padding-left: 0px;
  position: relative;
  left: -5px;
}
.vert-bar {
  height: 100%;
  background: var(--monochrome-color-fill);
  width: 5px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
}
.vert-bar .fill {
  width: 100%;
  background: black;
  padding: 0;
  margin: 0;
}
.easy-bar {
  background-color: rgba(000, 200, 000, 0.2);
}
.easy-bar .fill {
  background-color: rgba(000, 200, 000, 1);
}
.medium-bar {
  background-color: rgba(200, 150, 70, 0.2);
}
.medium-bar .fill {
  background-color: rgba(255, 200, 100, 1);
}
.hard-bar {
  background-color: rgba(200, 50, 50, 0.2);
}
.hard-bar .fill {
  background-color: rgba(200, 50, 50, 1);
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.banner .global-rank {
  font: var(--font-lg) "Space Grotesk";
  padding: 0;
  margin: 0;
}
.banner .global-percentile {
  font: var(--font-xxs) "Poppins";
  color: var(--monochrome-color-tw);
  margin: 0;
  padding: 0;
}
.user-streak {
  font: var(--font-xs) "Poppins";
  color: var(--monochrome-color-tw);
}
