.MuiLinearProgress-root {
  height: 2px !important;
}

.MuiLinearProgress-bar1,
.MuiLinearProgress-indeterminate {
  background-color: var(--primary-color-fill) !important;
}

.MuiLinearProgress-bar2,
.MuiLinearProgress-buffer {
  background-color: var(--primary-color-sw) !important;
}

.centering-wrapper {
  display: block;
  margin: auto;
  width: fit-content;
}

.antioverlay {
  z-index: 2;
}

.def-cur-ns-ans * {
  cursor: default;
  user-select: none;
}
.def-cur-ns-par > * {
  cursor: default;
  user-select: none;
}
.def-cur-ns {
  cursor: default;
  user-select: none;
}
.ns {
  user-select: none;
}
.text-cur {
  cursor: text;
}
/*.interactive { --bad idea. interactive elements are prone to double click so make them non selectable unless they are links (which already use pointer cursor)
  cursor: pointer;
}*/

.interactive-ns {
  cursor: pointer;
  user-select: none;
}

.interactive-ns-par > * {
  cursor: pointer;
  user-select: none;
}
.d-none {
  display: none !important;
}

.refresh-btn-parent {
  position: relative;
}

.refresh-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--monochrome-color-ss);
  background: rgba(0, 0, 0, 0);
}

.refresh-btn:hover {
  color: black;
  transform: scale(1.02);
  transition-duration: 200ms;
}

.refresh-btn:active {
  transform: scale(0.97);
  transition-duration: 200ms;
}
